<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

    <appSettings>
        <!-- DEVICE CONFIGURATION -->
        <add key="IPA.DAL.Device.AcceptedComPorts" value="COM109,COM110,COM111,COM112,COM113" />
        <add key="IPA.DAL.Device.COMBaudRate" value="115200" />
        <add key="IPA.DAL.Device.COMDataBits" value="8" />
        <add key="IPA.DAL.Application.Client.Logging" value="true" />
    </appSettings>

</configuration>